ion-title {
  color: black;
}

.button ion-icon {
  margin-right: 20px;
  font-size: 25px;
}

.button ion-icon:hover {
  cursor: pointer;
}

.drink_image {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}